In [1]:
import pandas as pd
import numpy as np

## Data Cleaning

### Food Access Dataset

In [79]:
df_food = pd.read_excel('FoodAccessResearchAtlasData2019.xlsx', sheet_name = 'Food Access Research Atlas')
df_food

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.000000,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.341014,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.000000,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.000000,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.681219,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72526,56043000200,Wyoming,Washakie County,0,3326,1317,0,57.0,1.713770,0,...,593.0,3106.0,6.0,15.0,0.0,27.0,172.0,309.0,61.0,64.0
72527,56043000301,Wyoming,Washakie County,1,2665,1154,0,10.0,0.375235,0,...,399.0,2377.0,5.0,23.0,0.0,40.0,220.0,446.0,88.0,41.0
72528,56043000302,Wyoming,Washakie County,1,2542,1021,0,73.0,2.871755,0,...,516.0,2312.0,11.0,10.0,1.0,26.0,182.0,407.0,23.0,64.0
72529,56045951100,Wyoming,Weston County,0,3314,1322,0,252.0,7.604104,0,...,499.0,3179.0,15.0,10.0,1.0,47.0,62.0,91.0,47.0,34.0
72530,56045951300,Wyoming,Weston County,1,3894,1699,0,61.0,1.566513,0,...,650.0,3706.0,6.0,10.0,2.0,44.0,126.0,125.0,34.0,110.0

In [80]:
df_food.isna().sum()

CensusTract      0
State            0
County           0
Urban            0
Pop2010          0
                ..
TractAIAN        4
TractOMultir     4
TractHispanic    4
TractHUNV        4
TractSNAP        4
Length: 147, dtype: int64

In [81]:
df_food.isna().sum().sum()

4330227

In [82]:
df_nulls = df_food[df_food.isna().any(axis=1)]

columns_with_nulls = df_nulls.columns[df_nulls.isna().any()].tolist()

In [83]:
columns_with_nulls

['NUMGQTRS',
 'PCTGQTRS',
 'PovertyRate',
 'MedianFamilyIncome',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lapophalfshare',
 'lalowihalf',
 'lalowihalfshare',
 'lakidshalf',
 'lakidshalfshare',
 'laseniorshalf',
 'laseniorshalfshare',
 'lawhitehalf',
 'lawhitehalfshare',
 'lablackhalf',
 'lablackhalfshare',
 'laasianhalf',
 'laasianhalfshare',
 'lanhopihalf',
 'lanhopihalfshare',
 'laaianhalf',
 'laaianhalfshare',
 'laomultirhalf',
 'laomultirhalfshare',
 'lahisphalf',
 'lahisphalfshare',
 'lahunvhalf',
 'lahunvhalfshare',
 'lasnaphalf',
 'lasnaphalfshare',
 'lapop1',
 'lapop1share',
 'lalowi1',
 'lalowi1share',
 'lakids1',
 'lakids1share',
 'laseniors1',
 'laseniors1share',
 'lawhite1',
 'lawhite1share',
 'lablack1',
 'lablack1share',
 'laasian1',
 'laasian1share',
 'lanhopi1',
 'lanhopi1share',
 'laaian1',
 'laaian1share',
 'laomultir1',
 'laomultir1share',
 'lahisp1',
 'lahisp1share',
 'lahunv1',
 'lahunv1share',
 'lasnap1',
 'lasnap1share',
 'lapop10',
 'lapop10share',
 'lalowi10',
 'lalowi10share',
 'lakids10',
 'lakids10share',
 'laseniors10',
 'laseniors10share',
 'lawhite10',
 'lawhite10share',
 'lablack10',
 'lablack10share',
 'laasian10',
 'laasian10share',
 'lanhopi10',
 'lanhopi10share',
 'laaian10',
 'laaian10share',
 'laomultir10',
 'laomultir10share',
 'lahisp10',
 'lahisp10share',
 'lahunv10',
 'lahunv10share',
 'lasnap10',
 'lasnap10share',
 'lapop20',
 'lapop20share',
 'lalowi20',
 'lalowi20share',
 'lakids20',
 'lakids20share',
 'laseniors20',
 'laseniors20share',
 'lawhite20',
 'lawhite20share',
 'lablack20',
 'lablack20share',
 'laasian20',
 'laasian20share',
 'lanhopi20',
 'lanhopi20share',
 'laaian20',
 'laaian20share',
 'laomultir20',
 'laomultir20share',
 'lahisp20',
 'lahisp20share',
 'lahunv20',
 'lahunv20share',
 'lasnap20',
 'lasnap20share',
 'TractLOWI',
 'TractKids',
 'TractSeniors',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [84]:
columns_to_impute = [col for col in df_food.columns if 'la' in col[:2] or "LA" in col[:2]]

for col in columns_to_impute[8:]:
    print(df_food[col].isna().sum())

29957
14540
35914
29957
14540
35914
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4568
4562
4568
4562
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19989
19966
19989
19966
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64765
64666
64765
64666
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
71025
70920
71025
70920

In [85]:
df_food['NUMGQTRS'] = df_food['NUMGQTRS'].fillna(-1)
df_food['PCTGQTRS'] = df_food['PCTGQTRS'].fillna(-1)
df_food['PovertyRate'] = df_food['PovertyRate'].fillna(-1)
df_food['MedianFamilyIncome'] = df_food.groupby('County')['MedianFamilyIncome'].transform(lambda x: x.fillna(x.mean()))

### Death by County Dataset

In [86]:
df_death = pd.read_excel('Underlying Cause of Death, 2018-2023, Single Race.xlsx')
df_death

,County,County Code,Deaths,Population,"Crude Rate per 100,000"
0,"Autauga County, AL",1001.0,35,55869,62.6
1,"Baldwin County, AL",1003.0,108,223234,48.4
2,"Barbour County, AL",1005.0,11,24686,Unreliable
3,"Blount County, AL",1009.0,18,57826,Unreliable
4,"Butler County, AL",1013.0,24,19448,123.4
...,...,...,...,...,...
1985,"Natrona County, WY",56025.0,39,79858,48.8
1986,"Park County, WY",56029.0,11,29194,Unreliable
1987,"Sheridan County, WY",56033.0,10,30485,Unreliable
1988,"Sweetwater County, WY",56037.0,21,42343,49.6
1989,NaN,NaN,140107,328239523,42.7

In [87]:
df_death['State_only'] = df_death['County'].str.split(", ").str[1]
df_death['County_only'] = df_death['County'].str.split(", ").str[0]
df_death

,County,County Code,Deaths,Population,"Crude Rate per 100,000",State_only,County_only
0,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County
1,"Baldwin County, AL",1003.0,108,223234,48.4,AL,Baldwin County
2,"Barbour County, AL",1005.0,11,24686,Unreliable,AL,Barbour County
3,"Blount County, AL",1009.0,18,57826,Unreliable,AL,Blount County
4,"Butler County, AL",1013.0,24,19448,123.4,AL,Butler County
...,...,...,...,...,...,...,...
1985,"Natrona County, WY",56025.0,39,79858,48.8,WY,Natrona County
1986,"Park County, WY",56029.0,11,29194,Unreliable,WY,Park County
1987,"Sheridan County, WY",56033.0,10,30485,Unreliable,WY,Sheridan County
1988,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County
1989,NaN,NaN,140107,328239523,42.7,NaN,NaN

In [88]:
df_death.isna().sum()

County                    1
County Code               1
Deaths                    0
Population                0
Crude Rate per 100,000    0
State_only                1
County_only               1
dtype: int64

In [89]:
df_death.isna().sum().sum()

4

In [90]:
df_death = df_death.dropna()
df_death

,County,County Code,Deaths,Population,"Crude Rate per 100,000",State_only,County_only
0,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County
1,"Baldwin County, AL",1003.0,108,223234,48.4,AL,Baldwin County
2,"Barbour County, AL",1005.0,11,24686,Unreliable,AL,Barbour County
3,"Blount County, AL",1009.0,18,57826,Unreliable,AL,Blount County
4,"Butler County, AL",1013.0,24,19448,123.4,AL,Butler County
...,...,...,...,...,...,...,...
1984,"Laramie County, WY",56021.0,51,99500,51.3,WY,Laramie County
1985,"Natrona County, WY",56025.0,39,79858,48.8,WY,Natrona County
1986,"Park County, WY",56029.0,11,29194,Unreliable,WY,Park County
1987,"Sheridan County, WY",56033.0,10,30485,Unreliable,WY,Sheridan County
1988,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County

In [91]:
df_death.dtypes

County                     object
County Code               float64
Deaths                      int64
Population                  int64
Crude Rate per 100,000     object
State_only                 object
County_only                object
dtype: object

In [92]:
df_death['Crude Rate per 100,000'] = df_death['Crude Rate per 100,000'].apply(lambda x: 0.00 if x == 'Unreliable' else x)
df_death['Crude Rate per 100,000'] = df_death['Crude Rate per 100,000'].astype('float')

/var/folders/h8/wtxc32fx0ndbwvhh9dj2v1hh0000gn/T/ipykernel_72578/2707181817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_death['Crude Rate per 100,000'] = df_death['Crude Rate per 100,000'].apply(lambda x: 0.00 if x == 'Unreliable' else x)
/var/folders/h8/wtxc32fx0ndbwvhh9dj2v1hh0000gn/T/ipykernel_72578/2707181817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_death['Crude Rate per 100,000'] = df_death['Crude Rate per 100,000'].astype('float')

In [93]:
df_death['State_only'] = df_death['State_only'].astype('category')

/var/folders/h8/wtxc32fx0ndbwvhh9dj2v1hh0000gn/T/ipykernel_72578/3469385370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_death['State_only'] = df_death['State_only'].astype('category')

### Merging Datasets

In [94]:
df_merged = df_death.merge(df_food, how = 'inner', left_on = 'County_only', right_on = 'County')
df_merged

,County_x,County Code,Deaths,Population,"Crude Rate per 100,000",State_only,County_only,CensusTract,State,County_y,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County,1001020100,Alabama,Autauga County,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County,1001020200,Alabama,Autauga County,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County,1001020300,Alabama,Autauga County,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County,1001020400,Alabama,Autauga County,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,"Autauga County, AL",1001.0,35,55869,62.6,AL,Autauga County,1001020500,Alabama,Autauga County,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223680,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County,56037970903,Wyoming,Sweetwater County,...,136.0,2306.0,84.0,29.0,8.0,22.0,392.0,611.0,17.0,127.0
223681,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County,56037971000,Wyoming,Sweetwater County,...,204.0,1866.0,13.0,11.0,0.0,20.0,254.0,436.0,11.0,39.0
223682,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County,56037971100,Wyoming,Sweetwater County,...,497.0,2969.0,27.0,36.0,5.0,22.0,262.0,420.0,8.0,47.0
223683,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County,56037971200,Wyoming,Sweetwater County,...,405.0,2350.0,20.0,20.0,1.0,20.0,113.0,234.0,0.0,8.0
223684,"Sweetwater County, WY",56037.0,21,42343,49.6,WY,Sweetwater County,56037971600,Wyoming,Sweetwater County,...,205.0,1912.0,8.0,6.0,2.0,33.0,131.0,226.0,12.0,34.0